  .report {
            display: block;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.329);
            width: 600px;
            /* height: 600px; */
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
            font-family: arial;
            border-radius: 5px;
            border: 1px;
        }
        #views{
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .report table{
            border-collapse: collapse;
            width: 500px;
            margin: auto;
            font-family: arial;
            font-size: 14px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;

        }

        .report td{
            border: 1px;
            border: 1px solid rgb(0, 0, 0);
            padding: 5px;
        }